body{
  background: url("https://w.wallhaven.cc/full/z8/wallhaven-z8dg9y.png")no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.main-container{

  padding: 7% 15%;
  margin-top: 100px;
  text-align: center;
  position: relative;
}
.main{
  margin-bottom: 100px;
  padding: 7% 15%;
  font-size: 2rem;
  font-weight: bolder;
  color: #1F1D36;
}

.main-button{
color: #105652;
font-weight: bolder;
border: 2px solid white;

}
