body{
  background: url("https://w.wallhaven.cc/full/z8/wallhaven-z8dg9y.png")no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.main-container{

  padding: 7% 15%;

  text-align: center;
  position: relative;
}
.main{

  padding: 5% 15%;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #1F1D36;
}

.main-button{

color: #105652;
font-weight: bolder;
border: 2px solid white;

}
.main-button:hover{
background-color:#105652;
}
@media (max-width:720px){
  .main{
    font-size: 1rem;
    

  }
  .main-button{
  font-size:1rem;
  }
}
